<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="ssD329aSjP4yWBDLRYvPmTVmY" />
    <add key="consumerSecret" value="q9bjxE0h8ouLgYIZgCYWCark87ojxxEe8GNJdPLQ0npRgpn6cA" />
    <add key="tokenKey" value="" />
    <add key="tokenSecret" value="DRDgvAiAsfr1xZdvIOij5zqNlGOdVREq8NBoacxtIizpp" />
  </appSettings>
</configuration>