<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="consumerKey" value="yYwFFDt43rZXdbwekrv5k9bUH" />
    <add key="consumerSecret" value="z5iSL3aFnoAKWnfq2JnS0pqJK1gZVaq0QG0qVibZgFN5aQIBUV" />
    <add key="tokenKey" value="" />
    <add key="tokenSecret" value="GUwdUVaXW9ii1G10cBghUdTlW8HHiEQyzas7zQCYptMvG" />
  </appSettings>
</configuration>