<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="consumerKey" value="lraInGL0JA4JfvvoFED4CStzG" />
  <add key="consumerSecret" value="RiPBzFx0GrgQIE5YYNcLyMardJcDHZoyyI6E6y99ZoLlGWAJjI" />
  <add key="tokenKey" value="588880830-vBsV151ByUhPHP50NMcna20tkL062BLSS0Nmu6t8" />
  <add key="tokenSecret" value="DRDgvAiAsfr1xZdvIOij5zqNlGOdVREq8NBoacxtIizpp" />
 </appSettings>
</configuration>